* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

/* Estilo para que el contenedor principal no esté pegado al borde */
.app-container {
  padding: 60px 10%;
  /* Mucho espacio a los lados para que se vea premium */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Todo alineado a la izquierda */
}